{% extends 'get_stocks/home.html' %}
{% load static %}

{% block content %}

<div> <img src="/static/temp/bullish.jpg" class="img=fluid" height="50%" width="100%" alt="Bull Logo"> </div>


<div class="jumbotron">
   <div class="card border-info mb-3" style="width: 95%;">
      <div class="card-header">View your stock prices</div>
      <div class="card-body" style="width: 85%;">
         <h2>Search results for "{{ stock_name }}" </h2>
         <h3>At interval "{{ interval_time }}"

            <div style="font-size: 65%; width= 85%;" table border="5"> {{ stock_data_html | safe }}</div>

         <p class="card-text"> 
         <div class="container">
            <div class="row">
               <div class="col">
               </div>
            </div>
            <div class="row">
               <div class="col">

            
               </div>
            </div>
         </div>
         </p>
      </div>
   </div>
</div>

{% endblock %}


