{% extends 'get_stocks/home.html' %}
{% block content %}


<div class="jumbotron">
   <div class="card border-info mb-3" style="max-width: 75rem;">
      <div class="card-header">View your stock prices</div>
      <div class="card-body">
         <h2>Search results for "{{ stock_name }}" </h2>
         <h3>At interval "{{ interval_time }}"

         <p class="card-text"> 
         <div class="container">
            <div class="row">
               <div class="col">
               </div>
            </div>
            <div class="row">
               <div class="col">

               {% for Stocks in stock_data%}

                  <h5> {{ Stocks }} </h5>

                  {% endfor %}
               </div>
            </div>
         </div>
         </p>
      </div>
   </div>
</div>

{% endblock %}

